<h1>Anderson's Room</h1>

<% if @latest_reading.temp < ENV['TARGET_TEMP'].to_f %>
  <h2>Anderson is freezing his balls off</h2>
<% elsif @latest_reading.temp > ENV['TARGET_TEMP'].to_f %>
  <h2> Anderson is sweating his balls off</h2>
<% end %>

<ul>
  <li>Current Temperature: <%= @latest_reading.temp if @latest_reading %></li>
  <li>Downstairs Temperature: <%= @nest.current_temperature %> </li>
  <li>Desired Temperature: <%= ENV['TARGET_TEMP'] %>  </li>
  <li>Nest Set To: <%= @nest.temperature %> </li>
  <li>It has been <%= time_ago_in_words(@latest_reading.created_at)%> since the last reading.</li>
</ul>

<br>

<%= link_to 'New Reading', new_reading_path %>
