<p id="notice"><%= notice %></p>

<p>
  <strong>Temp:</strong>
  <%= @reading.temp %>
</p>

<p>
  <strong>Recorded at:</strong>
  <%= @reading.recorded_at %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
